{% extends 'base.html' %} {% block title %}about{% endblock title %}
 {% block aboutactive %}active{% endblock aboutactive %}
{% block body %}
<img src="/static/whoweare.avif"  style="width: 100%; height: 60vh; object-fit: cover;">



<div class="container-lg">
    <div class="d-flex flex-row ">
        <div class="mt-5 mb-2">
            <h1>Our Mission </h1>
          <p class="mt-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
            laudantium natus eum architecto inventore, illo  voluptate culpa saepe quibusdam explicabo laboriosam minus nobis,
            eveniet labore dolore facilis <br></br>quibusdam hic rerum
            commodi ipsa adipisci eaque pariatur nisi dolor aliquam dolore ad
            aperiam molestiae deleniti quae temporibus optio. Dolorem sapiente enim
            quo commodi dicta sit aspernatur neque perspiciatis, ad inventore
            voluptate culpa saepe quibusdam explicabo laboriosam minus nobis,
            eveniet labore dolore facilis
          </p>
        </div>
        <div>
          <img src="/static/mission.jpg" class="p-4 mt-5 ml-3" style="height:6.5cm" />
        </div>
      </div>
      
</div>
{% endblock body %}
