{% extends 'basekhoj.html' %}
{% block titlekhoj %}home-khoj{% endblock titlekhoj %}
{% block homekhojactive %}active{% endblock homekhojactive %}
{% block headbody %}
<style>
    .text-animation {
      position: absolute;
      top: 3cm;
      left: 10px;
      font-size: 18px;
      color: rgba(255, 255, 255, 0);
      animation-name: fade-in;
      animation-duration: 3s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }
  
    @keyframes fade-in {
      0% {opacity: 0; color: rgba(255, 255, 255, 0);}
      50% {opacity: 1; color: rgba(255, 255, 255, 0.5);}
      100% {opacity: 1; color: rgba(255, 255, 255, 1);}
    }
  </style>
  {% endblock headbody %}
{% block body %}
<div class="bg-image p-5 shadow-1-strong rounded mb-5 text-white" style="background-image: url('/static/khojhome.jpeg'); background-size: 100%; height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div class="text-animation">
        <h1 style="font-size:2.5cm">PROJECT  KHOJ</h1>
        <div class="text-center p-2"><a href="/khoj/workkhoj"><button type="button" class="btn btn-dark rounded-pill text-white border-white border-5" style="background-color: transparent;">
            Explore 
           </button>
        </a></div>  
    </div>
  </div>
{% endblock body %}