{% extends 'baseark.html' %}
{% block titleark %}patners-ark{% endblock titleark %}
{% block patnersarkactive %} active {% endblock patnersarkactive %}  
{% block body %}
<div class="container">
<div class="text-center">
    <h1 class="mb-4 mt-4" style="font-family: Arial, sans-serif; border-bottom: 2px solid #e5e5e5; display: inline-block; text-align: center;">Our Patners</h1>
    </div>
        <div class="row mt-5">
            <div class="col-md-4 mr-5 ml-5 ">
                <img class="mb-3" src="/static/ngo.jpg" style="height:6cm">
                <p>Lorem ipsum  Earum, ipsam incidunt iste  dolor sit libero neque numquam. Odio quaerat maxime tenetur voluptatum laudantium praesentium ipsam veritatis.<p>
            </div>   
           <div class="col-md-4 mr-5 ml-5">
               <img class="mb-3"  src="/static/patners.jpg" style="height:6cm">
                <p> Earum, ipsam incidunt iste illum libero neque numquam. Odio quaerat maxime tenetur voluptatum laudantium praesentium ipsam veritatis.<p>
            </div>  
        </div>   
    </div>
</div>
</div>
{% endblock body %}