{% extends 'base.html' %}
{% block title %}projects{% endblock title %}
{% block projectsactive %}active{% endblock projectsactive %}
{% block body %}
<div class="container-lg">
    <div class="text-center">
        <h1 class="mb-4 mt-4" style="font-family: Arial, sans-serif; border-bottom: 2px solid #e5e5e5; display: inline-block; text-align: center;">Our Projects</h1>
        </div>
<div >
    <div class="row mt-5 p-4 d-flex">
    <img class="col mt-2" src="/static/ark.jpeg" style="height:9cm">
    <p class="col mt-3 ml-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde, voluptatibus! Accusamus magnam rerum vitae recusandae provident sunt, aliquam ex odit, reprehenderit perferendis unde? Voluptatibus deserunt quisquam, hic natus tenetur quam  erum vitae recusandae provident sunt, aliquam ex odit, reprehenderit perferendis unde? Voluptatibus deserunt quisquam, hic natus tenetur quam  ipsum aliquid exercitationem aspernatur qui optio culpa eos est obcaecati ugit quasi cupiditate, quod in placeat impedit .<br>
    <a href="/ark/homeark"><button type="button" class="btn btn-dark mt-3 text-center justify-content-center d-flex mx-auto">Explore</button></a></p>
   </div>
   <div class="dropdown-divider mt-5 mb-3"></div>
    <div class="row p-5">
    <img class="col mt-4" src="/static/khoj.jpeg" style="height:9cm">
    <p class="col mt-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam doloribus molestiae provident quaerat exercitationem natus amet labore tenetur sint minima quisquam ducimus autem, quae quis error harum illum expedita. Quos nulla sequi tempore voluptate, earum animi explicabo doloribus nostrum at, eligendi fugit numquam, perferendis aspernatur optio deserunt maiores! Praesentium, vel quidem nesciunt tempore quis ut odit eos incidunt? Amet laboriosam illum minus consequatur, vitae minima molestiae consectetur. Hic debitis nulla aut labore voluptates sit sunt
    <br><a href="/khoj/homekhoj"><button type="button" class="btn btn-dark mt-3 text-center justify-content-center d-flex mx-auto">Explore</button></a></p>
    
    </div>
</div>
</div>
{% endblock body %}